<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lulu.mapper.UserMapper">
    <insert id="insertUserRole">
        insert into user_roles
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="roleId != null and roleId != 0">role_id,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="roleId != null and roleId != 0">#{roleId},</if>
        </trim>
    </insert>

    <update id="updateUser" >
        update users
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="email != null">email = #{email},</if>
            <if test="status != null">status = #{status},</if>
            <if test="department != null">department = #{department},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt}</if>
        </set>
        WHERE user_id = #{userId}
    </update>

    <select id="getUsers" resultType="com.lulu.model.vo.UserListVo">
        SELECT u.user_id, username, email, department, status,
        ur.role_id as role
        FROM users u
        LEFT JOIN user_roles ur on u.user_id = ur.user_id
        LEFT JOIN roles r on r.role_id = ur.role_id
        order by u.user_id desc
        LIMIT #{start}, #{pageSize}
    </select>

    <insert id="insertUser" parameterType="com.lulu.model.entity.User"  useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO users
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="department != null">
                department,
            </if>
            <if test="createdAt != null">
                created_at,
            </if>
            <if test="updatedAt != null">
                updated_at,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId},
            </if>
            <if test="username != null">
                #{username},
            </if>
            <if test="password != null">
                #{password},
            </if>
            <if test="email != null">
                #{email},
            </if>
            <if test="department != null">
                #{department},
            </if>
            <if test="createdAt != null">
                #{createdAt},
            </if>
            <if test="updatedAt != null">
                #{updatedAt},
            </if>
            <if test="status != null">
                #{status},
            </if>
        </trim>
    </insert>

</mapper>